<!doctype html>
<!-- Important ng-app makes an angular app -->
<html ng-app>

<head>
    <title>My first Angular Bacon!</title>
    <!-- Include angulare from googleapis -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body>
<h1>Hi</H1>
    <h2>Name a bacon lover:</h2>
    <!-- Create a model named name !  -->
    <input type="text" ng-model="name" />
    <!-- Only show if set -->
    <span ng-if="name">
        <!-- bind name -->
      <h1>{{name}} loves bacon!!!</h1>
    </span>

    <!-- a diffrent way to bind the same as above -->
    <h6 ng-bind="name"></h6>
</body>

</html>
